<%- include('layout/heading'); %>

<div class="hotbar">
	<button class="btn btn-primary"><i class="zmdi zmdi-plus"></i> New Server</button>
</div>

<div class="container">
	<h3>Server 1</h3>

	<div>
		<ul class="info">
			<li>Status:</li>
			<li>People Online:</li>
			<li>Last updated on:</li>
		</ul>
		<ul class="info info-result">
			<li>-</li>
			<li>-</li>
			<li>-</li>
		</ul>
	</div>

	<div class="action">
		<button class="btn btn-red btn-icon"><i class="zmdi zmdi-delete"></i></button>
		<span>
			<button class="btn btn-yellow btn-icon"><i class="zmdi zmdi-key"></i></button>
			<button class="btn btn-green">Start</button>
			<button class="btn btn-red">Stop</button>
		</span>
	</div>
</div>

<div class="container">
	<h3>Server 2</h3>

	<div>
		<ul class="info">
			<li>Status:</li>
			<li>People Online:</li>
			<li>Last updated on:</li>
		</ul>
		<ul class="info info-result">
			<li>-</li>
			<li>-</li>
			<li>-</li>
		</ul>
	</div>

	<div class="action">
		<button class="btn btn-red btn-icon"><i class="zmdi zmdi-delete"></i></button>
		<span>
			<button class="btn btn-yellow btn-icon"><i class="zmdi zmdi-key"></i></button>
			<button class="btn btn-green">Start</button>
			<button class="btn btn-red">Stop</button>
		</span>
	</div>
</div>

<%- include('layout/footing'); %>