		</article>
	</section>

	<footer>
		<small>Matthijs Booman - <span class="copyleft">&copy;</span><%=year%></small>
	</footer>

	<script src="js/jquery-3.2.0.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>