@font-face{
	font-family: Lobster;
	src: url(../fonts/lobster.otf);
}

@keyframes bg-block-img {
	0%	{transform: translate(-50%, -60%);}
	100%{transform: translate(-50%, -40%);}
}
@keyframes bg-block-chevron {
	0%	{transform: translate(-50%, -25%);}
	100%{transform: translate(-50%, 0);}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Lobster;
	background-color: #ececec;
}

header {
	padding: 20px;
	color: #fff;
	background-color: #2f2f2f;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

section .bg-block {
	position: relative;
	width: 100%;
	/*height: calc(100vh - 80.8px);*/
	height: 60vh;
	background: url('/img/background.png') no-repeat center center;
	background-size: cover;
}

section .bg-block #block-img {
	width: 128px;
	height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: bg-block-img 3s alternate infinite;
	background: url('/img/block.png');
}

section .bg-block #chevron {
	display: none;
}

section article {
	margin: 10px;
	padding: 10px;
	/*border: 1px solid #8d8d8d;*/
	border-radius: 2px;
	background-color: #f5f5f5;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

section article > .server-status {
	padding: 20px 0;
}

section article > .server-status + .server-status{
	border-top: 1px solid #818181;
}

section article > .server-status > h3 > .status-icon {
	color: #6f6f6f;
}

section article > .server-status > h3 > .status-icon.status-online {
	color: #2ECC71;
}

section article > .server-status > h3 > .status-icon.status-offline {
	color: #D91E18;
}

section article > .server-status > .info {
	display: inline-block;
	color: #4c4c4c;
}

section article > .server-status > .info-result {
	margin-left: 10px;
}

section article ul.download-list {
	color: #4c4c4c;
}

section article ul.download-list li {
	padding: 10px 0;
}

section article ul.download-list li + li {
	border-top: 1px solid #818181;
}

section article h2 {
	font-size: 24pt;
}

section article h3 {
	font-size: 18pt;
}

section article ul {
	font-size: 15pt;
}

section article ul li.ip {
	font-size: 12pt;
}

footer {
	padding: 10px;
	text-align: center;
	color: #fff;
	background-color: #2f2f2f;
}

.copyleft{
	display: inline-block;
	transform: scaleX(-1);
}

a {
	color: inherit;
	text-decoration: inherit;
}

.btn {
	padding: 5px 15px;
	border: 0;
	border-radius: 2px;
	font-size: 14px;
	color: #000;
	user-select: none;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.btn:focus,
.btn:active{
	outline: 0;
}

.btn:active {
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
}

.btn-download {
	color: #fff;
	background-color: #6875b5;
}

ul {
	list-style: none;
}

@media (min-width: 992px){
	section .bg-block {
		height: calc(100vh - 80.8px);
	}

	section .bg-block #chevron {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 2%;
		transform: translate(-50%, 0);
		color: #fff;
		font-size: 50pt;
		animation: bg-block-chevron 2s alternate infinite;
	}

	section article {
		margin: 10px auto;
		width: 952px;
	}

	section article > .server-status {
		margin: 0 20px;
	}

	section article > .server-status > .info {
		margin-left: 25px;
	}

	section article ul.download-list {
		margin-left: 25px;
	}

	section article ul li.ip {
		font-size: inherit;
	}
}